<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <link rel="stylesheet" href="/css/animation.css" type="text/css">
    <title>Project edit</title>
</head>

<header>
    <div class="wrapper fadeInDown">
    <nav>
        <ul>
            <li>
                <a href="/frontpage">Frontpage</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="/returnToProject">Back to project</a>
            </li>
            <li>
                <a style="margin-left: 700px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
    </div>
</header>

<body>

<div class="wrapper fadeInDown">
<div class="flex-container">

    <div class="flex-show-item50-left">
        <form action="#" method="post" th:action="@{/updateProject}" th:object="${projectSelected}">
        <table class="no-shadow">
            <thead>
            <tr>
                <th colspan="2">You have entered following data for your project with:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Project ID:</td>
                <td th:text="${projectSelected.projectID}"></td>
            </tr>
            <tr>
                <td>Project name:</td>
                <td> <input type="text" th:field="${projectSelected.projectName}"
                            th:value="${projectSelected.projectName}"/></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <select name="category" id="category">  <!--that JDBC does not support Enums,
                                                             despite MySQL does...-->
                        <option value="IT">IT</option>
                        <option value="BYGGERI">Byggeri</option>
                        <option value="TRANSPORT">Transport</option>
                        <option value="LANDBRUG">Landbrug</option>
                        <option value="PRODUKTION">Produktion</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Hours total, expected:</td>
                <td> <input type="number"  th:field="${projectSelected.hoursTotal}"
                            th:value="${projectSelected.hoursTotal}"/></td>
            </tr>
            <tr>
                <td>Start date:</td>
                <td> <input type="date"  th:field="${projectSelected.startDate}" th:required="required"
                            th:value="${projectSelected.startDate}"/></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td> <input type="date"  th:field="${projectSelected.endDate}" th:required="required"
                            th:value="${projectSelected.endDate}"/></td>
            </tr>
            <tr>
                <td>Owner email:</td>
                <td th:text="${projectSelected.ownerEmail}"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td> <input type="text"  th:field="${projectSelected.description}"
                            th:value="${projectSelected.description}"/></td>
            </tr>
            <tr>
            <td class="centered-button" colspan="2"><button th:href="@{/updateProject}">
                Update project</button></td>
            </tr>
            </tbody>
        </table>
        </form>
</div>
     <div class="flex-show-item50-right">
         <table>
             <thead>
             <tr>
                 <th colspan="2">You have the following calculations:</th>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td>Amount of weekdays available<br>(based on start and end date): </td>
                 <td th:text="${dayAmountExpected}"/></td>
             </tr>
             <tr>
                 <td>Amount of persons on project:</td>
                 <td th:text="${teammatesAmount}"/></td>
             </tr>
             <tr>
                 <td>Productivity, hours/day:</td>
                 <td th:text="${totalHoursTeam}"/></td>
             </tr>
             <tr>
                 <td>Amount of hours available in project:</td>
                 <td th:text="${projectSelected.hoursTotal}"/></td>
             </tr>
             <tr>
                 <td>Amount of hours left in project:<br>(not allocated in subprojects)</td>
                 <td th:text="${timeLeftProject}"/></td>
             </tr>
             <tr>
                 <td>Amount of days, needed to reach the goal<br>(based on team productivity): </td>
                 <td th:text="${dayAmountNeeded}"/></td>
             </tr>
             <tr>
                 <td>Needed end date<br>(if we want to be in time): </td>
                 <td th:text="${realEndDate}"/></td>
             </tr>
             <tr>
                 <td>Or needed to deliver hours/day :<br> Amount of teammates have to be raised </td>
                 <td th:text="${neededSpeed}"/></td>
             </tr>
             <tr>
                 <td>Is the time enough to finish the project<br>under current conditions? </td>
                 <td th:text="${isEnough}"></td>
                                <!--<td> <div th:if="${isEnough.TRUE}">Yes</div>
                     <div th:if="${isEnough.FALSE}">No</div></td>-->
             </tr>
             </tbody>
         </table>
         </div>
</div>
</div>
</body>
</html>



