<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <link rel="stylesheet" href="/css/animation.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/logoProToolSmall.png"/>
    <title>Create task</title>

</head>
<header>
    <div class="wrapper fadeInDown">
    <nav>
        <ul>
            <li>
                <a href="/frontpage">Frontpage</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a style="margin-left: 700px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
    </div>
</header>
<body>

<div class="wrapper fadeInDown">
<div class="flex-container">

    <form class="create-project" action="#" method="post" th:action="@{/addTask}" th:object="${taskNew}">

        <p>Create new task here:</p>

        <div class="main">
            <div class="field">
                <label for="task_name">Task name:</label>
                <input type="text" max="30" maxlength="100" id="task_name" name="task_name"
                       th:field="*{taskName}" required/>
        </div>
        <div class="field">
            <label for="hours_total">Hours total, expected:</label>
            <input type="number" min="1" id="hours_total" name="hours_total" th:field="*{hoursTotal}"/>
        </div>
        <div class="field">
            <label for="start_date">Start date:</label>
            <input type="date" id="start_date" name="start_date" th:field="*{startDate}"
            th:required="required" th:min="${minStartDateTask}"/>
        </div>
        <div class="field">
            <label for="end_date">End date:</label>
            <input type="date" id="end_date" name="end_date" th:field="*{endDate}"
            th:required="required" th:max="${maxEndDateTask}"/>
        </div>
        <div class="field">
            <label for="description">Description:</label>
            <textarea maxlength="100" name="description" id="description" th:field="*{description}"></textarea>
        </div>
        <div class="centered-button-div">
            <button type="submit">Add task</button>
            </button>
        </div>
        </div>
    </form>
</div>
</div>
</body>
</html>