<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/logoProToolSmall.png"/>
    <title>Project edit</title>
</head>

<header>
    <nav>
        <ul>
            <li>
                <a href="/frontpage">Frontpage</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a style="margin-left: 700px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
</header>

<body>
<div class="flex-container" style="margin-top: 100px">
    <form action="#" method="post" th:action="@{/updateTask}" th:object="${taskSelected}">
        <table class="no-shadow">
            <thead>
            <tr>
                <th colspan="2">You have entered following data for your task with:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Task name:</td>
                <td<th:text="${taskSelected.taskName}"></td>
            </tr>
            <tr>
                <td>Subproject name:</td>
                <td> <input type="text" th:field="${taskSelected.taskName}"
                            th:value="${taskSelected.taskName}"/></td>
            </tr>
            <tr>
                <td>Hours total:</td>
                <td><input type="number" th:field="${taskSelected.hoursTotal}" th:value="${taskSelected.hoursTotal}"/></td>
            </tr>
            <tr>
                <td>Start date:</td>
                <td><input type="date" th:field="${taskSelected.startDate}" th:required="required"
                           th:value="${taskSelected.startDate}"/></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td><input type="date" th:field="${taskSelected.endDate}" th:required="required"
                           th:value="${taskSelected.endDate}"/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text"  th:field="${taskSelected.description}"
                           th:value="${taskSelected.description}"/></td>
            </tr>
            <tr>
                <td class="centered-button" colspan="2"><button th:href="@{/updateTask}">
                   Update task</button></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
