<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <link rel="stylesheet" href="/css/animation.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/logoProToolSmall.png"/>
    <title>Show task</title>
</head>

<header>
    <div class="wrapper fadeInDown">
    <nav>
        <ul>
            <li>
                <a href="/frontpage">Frontpage</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/returnToSubproject">Back to subproject</a>
            </li>
            <li>
                <a style="margin-left: 650px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
    </div>
</header>
<body>

<div class="wrapper fadeInDown">
<div class="flex-container">
        <form class="show-model-info" th:action="@{/editTask/{taskName}(taskName=${taskSelected.taskName})}"
              method="get">
        <table class="no-shadow">
                <thead>
                <tr>
                    <th colspan="2" class="centered-button"><button type="submit">Calculate and edit<br>task</button>
                    </th>
                </tr>
                <tr>
                    <th colspan="2"><b>You are in task:</b></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Task name:</td>
                    <td th:text="${taskSelected.taskName}"></td>
                </tr>
                <tr>
                    <td>Hours total:</td>
                    <td th:text="${taskSelected.hoursTotal}"></td>
                </tr>
                <tr>
                    <td>Start date:</td>
                    <td th:text="${taskSelected.startDate}"></td>
                </tr>
                <tr>
                    <td>End date:</td>
                    <td th:text="${taskSelected.endDate}"></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td th:text="${taskSelected.description}"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
  <!--  </div>-->
</div>
</body>
</html>