body {
    background-color: #56baed;
    font-family: "Poppins", sans-serif;
    /*    height: 100vh;*/
    font-size: 20px;
}

h1,h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

p {
    text-align: center;
}

p.plus {
    color: black;
    text-align: left;
    width: max-content;
}

li a {
    text-decoration: none;
}

li {
    margin-top: 20px;
    margin-bottom: 15px;
}

form {
    border-radius: 10px;
    padding: 5px;
    border: none;
    background-color: white;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

form.create-project, form.show-model-info {
    width: max-content;
    margin-top: 20px;
}

form.edit-calculate{
    width: auto;
}

form.edit-calculate{
    padding:0;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    display: block;
}

table {
    border: none;
    border-radius: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}


table.no-shadow{
    box-shadow: none;
}


table.user-info {
 padding: 10px;

}

th, td {
    text-align: left;
    padding: 8px;
}


th.centered-cell, td.centered-cell {
    text-align: center;
}


td.centered-button, th.centered-button{
    text-align: center;

}

.centered-button-div{
    text-align: center;

}

th.extra-line-in-top {
    font-style: italic;
}

tr { background-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    margin-top: 75px;
    justify-content: center;
}

#start_date {
    padding-left: 27px;
}

#end_date{
    padding-left: 27px;
}

#category{
    padding-left: 55px;
}

.flex-item2-left {
    padding: 10px;
    flex: 30%;
    margin:10px;
    border-radius: 10px;
    align-content: center;
}

.flex-item2-middle {
    padding: 10px;
    flex: 25%;
    margin:10px;
    border-radius: 10px;
    align-content: center;
}

.flex-item2-right {
    padding: 10px;
    flex: 45%;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    align-content: center;
}


.flex-show-item50-left {
    padding: 10px;
    flex: 50%;
    margin:10px;
    border-radius: 10px;
    align-content: center;
}

.flex-show-item50-right {
    padding: 10px;
    flex: 50%;
    margin:10px;
    border-radius: 10px;
    align-content: center;
}

.element-middle {
    display: flex;
    justify-content: center;
}


.field {clear:both; text-align:right; line-height:25px;margin: 8px 0 8px 0;}
label {float:left; padding-right:10px;}
.main {float:left;margin:20px}



header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 5px;
    right: 5px;
    top: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    border-radius:10px;

}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
}

header li a.logout {
   justify-content: flex-end;
}


img.icon{
    width: 25px;

}

img.icon-gears{
    width: 35px;
}

th.dashboard-add-button{
    text-align:center;
}

button.dashboard-add-button{
    width: 150px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(56, 129, 212);
    padding: .7em 1.5em;
    outline: none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

button.dashboard-add-button:hover {
    background: rgb(12, 27, 84);
}

button.dashboard-add-button:active {
    background: rgb(3, 18, 65);
}

button,submit,reset {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 20px 20px 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button:hover,submit:hover,reset:hover {
    background-color: #39ace7;
}

button:active,submit:active,reset:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

button.add-teammate{
    margin-top: 30px;
}

label.remove-member {
    margin-left: 95px;
}

.logout {
    align-self: flex-end;
}


/* new tree*/

.content {
    width:500px;
    margin:auto;
    background-color: #000000;

}
.tree ul {
    margin-left: 20px;



}

.tree li {
    list-style-type: none;
    margin:10px;
    position: relative;
    /*  background-color: black;*/
}

.tree li::before {
    content: "";
    position: absolute;
    top:-7px;
    left:-20px;
    border-left: 1px solid black;
    border-bottom:1px solid black;
    border-radius:0 0 0 0px;
    width:20px;
    height:15px;
}

.tree li::after {
    position:absolute;
    content:"";
    top:8px;
    left:-20px;
    border-left: 1px solid black;
    border-top:1px solid black;
    border-radius:0px 0 0 0;
    width:20px;
    height:100%;
}

/*.tree li:after  {
  display:none;
}*/

.tree li:before{
    border-radius: 0 0 0 5px;
}

ul.tree>li:before {
    display:none;
}

ul.tree>li:after {
    border-radius:5px 0 0 0;
}

.tree li a {
    border: 1px #000000 solid;
    border-radius: 5px;
    padding:2px 5px;
    background-color: white;
}

.tree li a:hover, .tree li a:hover+ul li a,
.tree li a:focus, .tree li a:focus+ul li a {
    background: black; color: white; border: 1px solid #000000;
}

.tree li a:hover+ul li::after, .tree li a:focus+ul li::after,
.tree li a:hover+ul li::before, .tree li a:focus+ul li::before
.tree li a:hover+ul::before, .tree li a:focus+ul::before
.tree li a:hover+ul ul::before, .tree li a:focus+ul ul::before{
    border-color:  #000000; /*connector color on hover*/
    background-color: black;
}

.dates-show{
    font-size: 14px;
    font-weight: bold;
}

td.centered-cell{
    text-align: center;
}
