body {
    background-color: #56baed;
    font-family: "Poppins", sans-serif;
    /*    height: 100vh;*/
    font-size: 20px;
}

h1,h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

p {
    text-align: center;
}

p.plus {
    color: black;
    text-align: left;
    width: max-content;
}

li a {
    text-decoration: none;
}

li {
    margin-top: 20px;
    margin-bottom: 15px;
}

form {
    border-radius: 10px;
    padding: 5px;
    border: none;
    background-color: white;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

form.create-project {
    width: max-content;
}

form.edit-calculate{
    width: auto;
}

form.edit-calculate{
    padding:0;
}

form.show-model-info {
   /* width: max-content;*/
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    display: block;
}

table {
    border: none;
    border-radius: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}


table.no-shadow{
    box-shadow: none;
}


table.user-info {
    border-spacing: 0;
    width: 200px;
}

th, td {
    text-align: left;
    padding: 8px;
}


td.centered-button{
    text-align: center;

}

th.extra-line-in-top {
    font-style: italic;
}

tr { background-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    margin-top: 75px;
    justify-content: center;
}

#start_date {
    padding-left: 27px;
}

#end_date{
    padding-left: 27px;
}

#category{
    padding-left: 55px;
}

.flex-item2-left {
    padding: 10px;
    flex: 25%;
    margin:10px;
    border-radius: 10px;
    align-content: center;
}

.flex-item2-middle {
    padding: 10px;
    flex: 35%;
    margin:10px;
    border-radius: 10px;
    align-content: center;
}

.flex-item2-right {
    padding: 10px;
    flex: 35%;
    margin:10px;
    border-radius: 10px;
    align-content: center;
}


.flex-show-item50-left {
    padding: 10px;
    flex: 50%;
    margin:10px;
    border-radius: 10px;
    align-content: center;
}

.flex-show-item50-right {
    padding: 10px;
    flex: 50%;
    margin:10px;
    border-radius: 10px;
    align-content: center;
}

.element-middle {
    display: flex;
    justify-content: center;
}

.element-middle-create-project {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.field {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:10px;}
.main {float:left;margin:20px}



header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 5px;
    right: 5px;
    top: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    border-radius:10px;

}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
}


img.icon{
    width: 25px;

}

img.icon-gears{
    width: 35px;
}

th.dashboard-add-button{
    text-align:center;
}

button.dashboard-add-button{
    width: 150px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(56, 129, 212);
    padding: .7em 1.5em;
    outline: none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

button.dashboard-add-button:hover {
    background: rgb(12, 27, 84);
}

button.dashboard-add-button:active {
    background: rgb(3, 18, 65);
}

button,submit,reset {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 20px 20px 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button:hover,submit:hover,reset:hover {
    background-color: #39ace7;
}

button:active,submit:active,reset:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

button.add-project{
    margin-left:55px;
}