<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>Create project</title>

</head>
<header>
    <nav>
        <ul>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a style="margin-left: 700px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
</header>
<body>

<div class="element-middle-create-project">
    <form class="create-project" action="#" method="post" th:action="@{/addProject}" th:object="${projectNew}">

        <p>Create new project here:</p>

        <div class="main">
             <div class="field">
                 <label for="project_name">Project name:</label>
                 <input type="text" id="project_name" name="project_name" th:field="*{projectName}" required/></td>
             </div>
             <div class="field">
                <label for="category">Category:</label> <!--have tried the solution with Enum as well, the problem is-->
                <select name="category" id="category">  <!--that JDBC does not support Enums, despite MySQL does...-->
                    <option value="IT">IT</option>
                    <option value="BYGGERI">Byggeri</option>
                    <option value="TRANSPORT">Transport</option>
                    <option value="LANDBRUG">Landbrug</option>
                    <option value="PRODUKTION">Produktion</option>
                </select>
             </div>
            <div class="field">
                <label for="hours_total">Hours total, expected:</label>
                <input type="number" id="hours_total" name="hours_total" th:field="*{hoursTotal}"/></td>
            </div>
            <div class="field">
                <label for="start_date">Start date:</label>
                <input type="date" id="start_date" name="start_date" th:field="*{startDate}"/></td>
            </div>
            <div class="field">
                <label for="end_date">End date:</label>
                <input type="date" id="end_date" name="end_date" th:field="*{endDate}"/></td>
            </div>
            <div class="field">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" th:field="*{description}"/></td>
            </div>
            <div class="button-wrapper-right">
                <button class="button1"  type="submit">Add Project</button>
            </div>
        </div>
    </form>
  </div>
</body>
</html>
