<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>Dashboard</title>
</head>

<header>
<nav>
    <ul>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
        <li>
            <a style="margin-left: 650px" href="/logout"> Logout </a>
        </li>
    </ul>
</nav>
</header>
<body>

<div class="flex-container" style="margin-top: 100px">

    <div class="flex-item2-left">
        <p><b>You have successfully logged in</b></p>

    </div>
    <div class="flex-item2-middle">
        <p><b>You have successfully logged in</b></p>

    </div>
    <div class="flex-item2-right">
        <p><b>You have successfully logged in</b></p>

    </div>
</div>
</body>
</html>
