<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>Dashboard select</title>
</head>

<header>
    <nav>
        <ul>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a style="margin-left: 650px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
</header>
<body>

<div class="flex-container">

    <div class="flex-show-project-left">

        <form style="border: none" action="#" method="get" th:action="@{/editProject/{projectName}}" th:object="${projectSelected}">
            <table>
                <thead>
                <tr>
                    <th>You are in Project:</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Project ID:</td>
                    <td th:text="${projectSelected.projectID}"></td>
                </tr>
                <tr>
                    <td>Project name:</td>
                    <td th:text="${projectSelected.projectName}"></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td th:text="${projectSelected.category}"></td>
                </tr>
                <tr>
                    <td>Hours total:</td>
                    <td th:text="${projectSelected.hoursTotal}"></td>
                </tr>
                <tr>
                    <td>Start date:</td>
                    <td th:text="${projectSelected.startDate}"></td>
                </tr>
                <tr>
                    <td>End date:</td>
                    <td th:text="${projectSelected.endDate}"></td>
                </tr>
                <tr>
                    <td>Owner email:</td>
                    <td th:text="${projectSelected.ownerEmail}"></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td th:text="${projectSelected.description}"></td>
                </tr>
                <tr>
                    <td><button class="button1" th:href="@{/editProject/{projectName}(projectName=${projectSelected.projectName})}">
                        Edit project</button></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
  <!--  A form for a Subproject create-->
    <div class="flex-show-project-right">

        <form style="border: none" action="#" method="post" th:action="@{/addSubproject}" th:object="${subprojectNew}">
            <table>
                <thead>
                <tr>
                    <th>Create new Subproject here:</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Subproject name:</td>
                    <td><input type="text" th:field="*{subprojectName}"/></td>
                </tr>
                <tr>
                    <td>Hours total:</td>
                    <td><input type="number" th:field="*{hoursTotal}"/></td>
                </tr>
                <tr>
                    <td>Start date:</td>
                    <td><input type="date" th:field="*{startDate}"/></td>
                </tr>
                <tr>
                    <td>End date:</td>
                    <td><input type="date" th:field="*{endDate}"/></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{description}"/></td>
                </tr>
                <tr>
                    <td>
                        <div class="button-wrapper-right">
                            <button style="padding-right:70px" class="button1" onclick="location.href='/addSubroject'" type="submit">Add Subproject
                            </button>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>

<!--<p style="text-align: left">Show available Subprojects:</p>

      <table>
          <thead>
          <tr>
              <th> Subproject name</th>
              <th> Show list</th>
              <th> Remove list</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="subprojectNew : ${subprojectNew}">
              &lt;!&ndash;  <td><a th:href="@{/showProject/{projectName}(projectName=${projectNew.projectName})}"
                       th:value="${projectSelected.projectName}"></a></td>
&ndash;&gt;             <td th:text="${subprojectNew.subprojectName}"></td>
              <td><a th:href="@{/showProject/{projectName}(projectName=${projectSelected.projectName})}">
                  <img class="icon" src="/images/eye2.png" alt="Eye">
              </a></td>
              <td><a th:href="@{/deleteProject/{projectName}(projectName=${projectSelected.projectName})}">
                  <img class="icon" src="/images/trashcan.png" alt="Trashcan">
              </a></td>
          </tr>
          </tbody>
      </table>-->


