<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/stylingconcept.css" type="text/css">
    <title>Index</title>
</head>
<body>
<div class="element-middle">
<img class="centerlogo" src="/images/logoProTool.jpg">
</div>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <h2 class="active"> Sign In </h2>

        <form name="login" action="/login" method="POST">
            <!--textbox for email-->
            <input type="email" id="email" name="email" placeholder="someone@mail.com" required/>
            <!--textbox for password-->
            <input type="password" id="password" name="password" placeholder="*********" required/>
            <!--button-->
            <input type="submit" class="fadeIn fourth" value="Log In" style="margin-bottom: 20px; margin-top: 20px" >
            <input type="button" class="fadeIn fourth" onclick="location.href='/signup'" value="Sign up">
        </form>
    </div>
</div>
</body>
</html>