<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>Project edit</title>
</head>

<header>
    <nav>
        <ul>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a style="margin-left: 700px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
</header>

<body>
<div class="flex-container" style="margin-top: 100px">
        <form style="border: none" action="#" method="post" th:action="@{/updateProject}" th:object="${projectSelected}">
        <table>
            <thead>
            <tr>
                <th>You are editing:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Project ID:</td>
                <td th:text="${projectSelected.projectID}"></td>
            </tr>
            <tr>
                <td>Project name:</td>
                <td> <input type="text" th:field="${projectSelected.projectName}" th:value="${projectSelected.projectName}"/></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <select name="category" id="category">  <!--that JDBC does not support Enums, despite MySQL does...-->
                        <option value="IT">IT</option>
                        <option value="BYGGERI">Byggeri</option>
                        <option value="TRANSPORT">Transport</option>
                        <option value="LANDBRUG">Landbrug</option>
                        <option value="PRODUKTION">Produktion</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Hours total:</td>
                <td> <input type="number"  th:field="${projectSelected.hoursTotal}" th:value="${projectSelected.hoursTotal}"/></td>
            </tr>
            <tr>
                <td>Start date:</td>
                <td> <input type="date"  th:field="${projectSelected.startDate}" th:required="required" th:value="${projectSelected.startDate}"/></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td> <input type="date"  th:field="${projectSelected.endDate}" th:required="required" th:value="${projectSelected.endDate}"/></td>
            </tr>
            <tr>
                <td>Owner email:</td>
                <td th:text="${projectSelected.ownerEmail}"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td> <input type="text"  th:field="${projectSelected.description}" th:value="${projectSelected.description}"/></td>
            </tr>
            <tr>
            <td><button class="button1" th:href="@{/updateProject}">
                UPDATE!</button></td>
            <td></td>
            </tr>
            </tbody>
        </table>
        </form>
</div>
</body>
</html>
