<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <link rel="stylesheet" href="/css/animation.css" type="text/css">
    <title>Show task</title>
</head>

<header>
    <div class="wrapper fadeInDown">
    <nav>
        <ul>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="/returnToSubproject">Back to subproject</a>
            </li>
            <li>
                <a style="margin-left: 650px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
    </div>
</header>
<body>

<div class="wrapper fadeInDown">
<div class="flex-container">
    <div class="flex-show-item50-left">
        <!--<form style="border: none" method="get" th:action="@{/createTask}">-->
            <table>
                <thead>
                <tr>
                    <th>You are in Task:</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Subproject ID:</td>
                    <td th:text="${taskSelected.subprojectID}"></td>
                </tr>
                <tr>
                    <td>Task name:</td>
                    <td th:text="${taskSelected.taskName}"></td>
                </tr>
                <tr>
                    <td>Hours total:</td>
                    <td th:text="${taskSelected.hoursTotal}"></td>
                </tr>
                <tr>
                    <td>Start date:</td>
                    <td th:text="${taskSelected.startDate}"></td>
                </tr>
                <tr>
                    <td>End date:</td>
                    <td th:text="${taskSelected.endDate}"></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td th:text="${taskSelected.description}"></td>
                </tr>
                <tr>
                    <td class="centered-button" colspan="2"><button class="button1"
                                                 th:href="@{/editTask/{taskName}(taskName=${taskSelected.taskName})}">
                        Edit task</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    </div>
</div>
</body>
</html>