<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>Show project</title> <!--Aka Dashboard select-->
</head>

<header>
    <nav>
        <ul>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a style="margin-left: 650px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
</header>
<body>

<div class="flex-container">
    <div class="flex-show-project-left">
        <form style="border: none" method="get" th:action="@{/createSubproject}">
            <table>
                <thead>
                    <tr>
                        <th>You are in Project:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Project ID:</td>
                        <td th:text="${projectSelected.projectID}"></td>
                    </tr>
                    <tr>
                        <td>Project name:</td>
                        <td th:text="${projectSelected.projectName}"></td>
                    </tr>
                    <tr>
                        <td>Category:</td>
                        <td th:text="${projectSelected.category}"></td>
                    </tr>
                    <tr>
                        <td>Hours total:</td>
                        <td th:text="${projectSelected.hoursTotal}"></td>
                    </tr>
                    <tr>
                        <td>Start date:</td>
                        <td th:text="${projectSelected.startDate}"></td>
                    </tr>
                    <tr>
                        <td>End date:</td>
                        <td th:text="${projectSelected.endDate}"></td>
                    </tr>
                    <tr>
                        <td>Owner email:</td>
                        <td th:text="${projectSelected.ownerEmail}"></td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td th:text="${projectSelected.description}"></td>
                    </tr>
                    <tr>
                        <td> <button style="padding-right:70px" class="button1" onclick="location.href='/createSubproject'" type="submit">Add new Subproject
                        </button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="flex-item2-left">


            <button class="button1" th:href="@{/editProject/{projectName}(projectName=${projectSelected.projectName})}">
            Edit project</button>
        </div>
    </div>

    <div class="flex-show-project-right">
        <p style="text-align: left">Show available Subprojects in this project:</p>

        <table>
            <thead>
            <tr>
                <th> Subproject name</th>
                <th> Show list</th>
                <th> Remove list</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subprojectNew : ${subprojects}">
             <td th:text="${subprojectNew.subprojectName}"></td>
                <td><a th:href="@{/showSubproject/{subprojectName}(subprojectName=${subprojectNew.subprojectName})}">
                    <img class="icon" src="/images/eye2.png" alt="Eye">
                </a></td>
               <!-- <td><a th:href="@{/deleteProject/{projectName}(projectName=${projectSelected.projectName})}">
                    <img class="icon" src="/images/trashcan.png" alt="Trashcan">
                </a></td>-->
            </tr>
            </tbody>
        </table>

    </div>
    </div>

</body>
</html>
