<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <link rel="stylesheet" href="/css/stylingconcept.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styling.css" type="text/css">
    <link rel="stylesheet" href="/static/css/stylingconcept.css" type="text/css">
    <title>Tree view over project</title>
</head>

<header>
    <nav>
        <ul>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a style="margin-left: 650px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
</header>
<body>


<div class="flex-container">
    <div class="flex-show-project-left">


<ul class="tree">
  <!--  <ul>-->
    <li><a>Project</a></li>

    <ul>


    </ul>
    </li>

    <ul>

       <!-- <tr><td th:text="${projectTree}"></td> </tr>-->

        <li><a>
            <tr>
                <td>Project name:</td>
                <td th:text="${projectTree.projectName}"></td>
            </tr>
        </a></li>
        <li><a>
            <tr>
                <td>Category:</td>
                <td th:text="${projectTree.category}"></td>
            </tr>
        </a></li>
        <li><a>
            <tr>
                <td>Hours total:</td>
                <td th:text="${projectTree.hoursTotal}"></td>
            </tr>
        </a></li>
        <li><a>
            <tr>
                <td>Start date:</td>
                <td th:text="${projectTree.startDate}"></td>
            </tr>
        </a></li>
        <li><a>
            <tr>
                <td>End date:</td>
                <td th:text="${projectTree.endDate}"></td>
            </tr>
        </a></li>
        <li><a>
            <tr>
                <td>Description:</td>
                <td th:text="${projectTree.description}"></td>
            </tr>
        </a>
        </li>

        </li>
 <!--   </ul>-->

</ul>
    <ul>
            <ul>
    <li><a>Subprojects</a></li>
<ul>
                <span th:each="subprojectTree : ${subprojectsTree}">
                <li><a th:text="${subprojectTree.subprojectName}"></a></li>

                  <ul>

                <span th:each="taskTree : ${tasksTree}">
                <li><a th:text="${taskTree.taskName}"></a></li>
              </ul>



<!--<div th:each="classroom : ${classroomList}">
    <div>"${classroom.name}"</div>
    <ul>
      <div th:each="student : ${classroom.studentList}">
         <li>"${student.name}"</li>
      </div>
    </ul>
</div>-->

            <!--<div th:each="subprojectTree : ${subprojectsTree}">
                <div th:text="${subprojectTree.subprojectName}">

                </div>
                    <ul>
                        <div th:each="taskTree : ${tasksTree}">
                <li><a th:text="${taskTree.taskName}"></a></li>
              </ul>   -->

</div>

<div class="flex-show-project-right">
    <table>
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teammateNew : ${teammatesEmail}">
            <td th:text="${teammateNew}"></td>
        </tr>
        </tbody>
    </table>

    </table>
    </tbody>
</div>
</div>
</tbody>
</body>
</html>