<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <link rel="stylesheet" href="/css/animation.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/logoProToolSmall.png"/>
    <title>Frontpage</title>


</head>

<header>

    <div class="wrapper fadeInDown">
        <nav>
            <ul>
                <li>
                    <a href="/frontpage">Frontpage</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a style="margin-left: 875px" href="/logout"> Logout </a>
                </li>
            </ul>
        </nav>
    </div>

</header>
<body>

<div class="wrapper fadeInDown">
<div class="flex-container">
          <div class="flex-item2-middle">

       <!-- <p style="text-align: left">Show available Projects:</p>-->
        <table>
            <thead>
            <tr>
                <th class="dashboard-add-button" colspan="4"> <button class="dash" onclick="location.href='/createProject'" type="submit">Add new Project
                </button></th>
            </tr>

            <tr>
                <th class="extra-line-in-top"> Project<br>name</th>
                <th class="extra-line-in-top"> Show<br>project</th>
                <th class="extra-line-in-top"> Remove<br>project</th>
                   </tr>
            </thead>
            <tbody>
            <tr th:each="projectNew : ${projectsUserLogged}">
                <td th:text="${projectNew.projectName}"></td>
                <td><a th:href="@{/showProject/{projectName}(projectName=${projectNew.projectName})}">
                    <img class="icon" src="/images/eye2.png" alt="Eye">
                </a></td>
                <td><a th:href="@{/deleteProject/{projectName}(projectName=${projectNew.projectName})}">
                    <img class="icon" src="/images/trashcan.png" alt="Trashcan">
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>
</body>
</html>
