<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/stylingconcept.css" type="text/css">
    <link rel="stylesheet" href="/css/animation.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/logoProToolSmall.png"/>
    <title>Signup</title>

</head>
<body>

<div class="element-middle">
<img class="centerlogo" src="/images/logoProTool.jpg">
</div>

    
<div class="wrapper fadeInDown">

    <div id="formContent">

        <h2 class="active"> Sign Up </h2>

        <form name="register" action="/register" method="POST">
            <!--textboxes-->
            <input type="text" id="email" name="email" placeholder="someone@mail.com" required/>

            <input type="password" id="password1" name="password1" placeholder="Password" required/>

            <input type="password" id="password2" name="password2" placeholder="Repeat Password" required/>

            <input type="text" id="firstname" name="firstname" placeholder="First Name" required/>

            <input type="text" id="lastname" name="lastname" placeholder="Last Name" required/>

            <input type="text" id="companyname" name="companyname" placeholder="Company Name" required/>

            <input type="text" id="phonenumber" name="phonenumber" placeholder="Phone Number" required/>

            <!--Buttons-->
            <input type="submit" class="fadeIn fourth" value="Sign Up" style="margin-bottom: 20px; margin-top: 20px">
            <input type="button" class="fadeIn fourth" onclick="location.href='/'" value="Log in page" style="padding-left: 66px; padding-right: 66px">
        </form>

    </div>


</div>

</body>

</html>