<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <link rel="stylesheet" href="/css/animation.css" type="text/css">
    <link rel="icon" type="image/png" href="/images/logoProToolSmall.png"/>
    <title>Subproject edit</title>
</head>

<header>
    <div class="wrapper fadeInDown">
    <nav>
        <ul>
            <li>
                <a href="/frontpage">Frontpage</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/returnToSubproject">Back to subproject</a>
            </li>
            <li>
                <a style="margin-left: 700px" href="/logout"> Logout </a>
            </li>
        </ul>
    </nav>
    </div>
</header>

<body>
<div class="wrapper fadeInDown">
<div class="flex-container">
    <div class="flex-item2-left">
    <form action="#" method="post" th:action="@{/updateSubproject}" th:object="${subprojectSelected}">
        <table class="no-shadow">
            <thead>
            <tr>
                <th colspan="2">You have entered following data for your subproject with:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Subproject name:</td>
                <td> <input type="text" th:field="${subprojectSelected.subprojectName}"
                            th:value="${subprojectSelected.subprojectName}"/></td>
            </tr>
            <tr>
                <td>Hours total:</td>
                <td><input type="number"  th:field="${subprojectSelected.hoursTotal}"
                            th:value="${subprojectSelected.hoursTotal}"/></td>
            </tr>
            <tr>
                <td>Start date:</td>
                <td><input type="date"  th:field="${subprojectSelected.startDate}" th:required="required"
                            th:value="${subprojectSelected.startDate}"/></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td><input type="date"  th:field="${subprojectSelected.endDate}" th:required="required"
                            th:value="${subprojectSelected.endDate}"/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td> <input type="text"  th:field="${subprojectSelected.description}"
                            th:value="${subprojectSelected}"/></td>
            </tr>
            <tr>
                <td class="centered-button" colspan="2"><button th:href="@{/updateSubproject}">
                    Update subproject</button></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

    <div class="flex-show-item50-right">
    <table>
        <thead>
        <tr>
            <th colspan="2">You have the following calculations:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Amount of weekdays available<br>(based on start and end date): </td>
            <td th:text="${dayAmountExpected}"/></td>
        </tr>
        <tr>
            <td>Amount of persons on subproject:</td>
            <td th:text="${teammatesAmount}"/></td>
        </tr>
        <tr>
            <td>Team productivity, hours/day:</td>
            <td th:text="${totalHoursTeam}"/></td>
        </tr>
        <tr>
            <td>Amount of hours available in subproject:</td>
            <td th:text="${subprojectSelected.hoursTotal}"/></td>
        </tr>
        <tr>
            <td>Amount of hours left in subproject:<br>(not allocated in tasks)</td>
            <td th:text="${hoursLeftSubproject}"/></td>
        </tr>
        <tr>
            <td>Amount of days, needed to reach the goal<br>(based on team productivity): </td>
            <td th:text="${dayAmountNeeded}"/></td>
        </tr>
        <tr>
            <td>Needed end date<br>(if we want to be in time): </td>
            <td th:text="${realEndDate}"/></td>
        </tr>
        <tr>

            <td>Or needed to deliver hours/day<br>to be in time<br>(amount of teammates have to be changed) </td>
            <td th:text="${neededSpeed}"/></td>
        </tr>
        <tr>
            <td>Is the time enough to finish the subproject<br>under current conditions? </td>
            <td> <span th:if="${isEnough == true}">Yes</span>
                <span th:unless="${isEnough == true}">No</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</body>
</html>